---
name: "Application"

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12"
    env:
      # Fixing GitHub CI error:
      #     Could not load the Qt platform plugin "xcb" in "" even though it was found. Fatal Python error: Aborted
      # https://github.com/therecipe/qt/issues/775#issuecomment-456899597
      DISPLAY: 0.0
      QT_QPA_PLATFORM: offscreen
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      # For pytest-qt:
      # https://pytest-qt.readthedocs.io/en/latest/troubleshooting.html#github-actions-azure-pipelines-travis-ci-and-gitlab-ci-cd
      - name: "Setup packages for Qt tests"
        run: |
          sudo apt install \
            libdbus-1-3 \
            libegl1 \
            libgl1 \
            libxcb-cursor0 \
            libxcb-icccm4 \
            libxcb-image0 \
            libxcb-keysyms1 \
            libxcb-randr0 \
            libxcb-render-util0 \
            libxcb-xfixes0 \
            libxcb-xinerama0 \
            libxkbcommon-x11-0 \
            x11-utils
          /sbin/start-stop-daemon --start --quiet \
            --pidfile /tmp/custom_xvfb_99.pid \
            --make-pidfile --background \
            --exec /usr/bin/Xvfb \
            -- :99 -screen 0 1920x1200x24 -ac +extension GLX

      - name: "Install UV"
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: "Install the project"
        run: uv sync --locked --all-extras --dev

      - name: "Run tests"
        run: uv run pytest -s tests

      - name: "Minimize UV cache"
        run: uv cache prune --ci
