---
name: "Application"

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - main

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Install UV"
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: "Install the project"
        run: uv sync --locked --all-extras --dev

      - name: "Run tests"
        run: uv run pytest tests

      - name: "Minimize UV cache"
        run: uv cache prune --ci
